/** Add css rules here for your application. */
html,
body {
	margin:0 !important;
	padding:0;
	height:100%;
}

.header {
	margin: 0 0 10px 0;
	padding-top: 10px;
}

/** Example rules used by the template application (remove for your app) */
h1 {
  font-size: 2em;
  font-weight: bold;
  color: #777777;
  margin: 40px 0px 70px;
  text-align: center;
}

.sendButton {
  display: block;
  font-size: 16pt;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
  width: 400px;
}

.dialogVPanel {
  margin: 5px;
}

.serverResponseLabelError {
  color: red;
}
div.gwt-Label {
	font-size: 18px;
	margin-right: 20px;
}

.gwt-TextArea {
	width: 100%;
	
	height: 100px;
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px
}
table {
	width: 100% !important;
}
td {
	vertical-align: top !important;
	
}
.very-small {
	font-size: 0.6rem;
}
.big {
	font-size: 1.4rem;
}

.addAnswerPanel{ margin-top: 40px; }
.addAnswerPanel .gwt-Label { font-size: 1em !important; }
.addAnswerPanel .wt-TextArea { height: 70px; }

.bg-faded {
    margin-bottom: 100px;
}

.card {
	border:none;
	border-top: 1px solid #e5e5e5;
}

table.answer-card>tbody>tr>td:first-child {
	width: 14%;
}
table.answer-card>tbody>tr>td {
	width: 86%;
}

/*
table>tbody>tr>td {
	width: 450px;
}
*/

.gwt-ListBox {
    width: 100%;
}

#breadcrumb > table>tbody>tr>t >.gwt-label:hover{
	pointer : cursor;
}

#categories .btn {
	margin-top: 20px
}
.answer-panel {
	margin-top: 70px;
}

.judgements-list {
	margin-top: 10px;
}

.error-label {
	padding-top: 40px;
	text-align: center;
}
.delete-button {
	margin-right: 30px;
}